<!DOCTYPE html>

<html>

	<head>
		<script data-ad-client="ca-pub-2880137308849893" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<title>Pixeliio</title>
		<meta charset = "utf-8"/>
		<style type="text/css">
			body{
				margin: 0px;
			}
		</style>
		<script type="'text/javascript'">
			(function(){
			 
			    var _z = console;
			    Object.defineProperty( window, "console", {
			    get : function(){
			        if( _z._commandLineAPI ){
			        throw "Sorry, Can't exceute scripts!";
			            }
			        return _z; 
			    },
			    set : function(val){
			        _z = val;
			    }
			    });
			 
			})();
	</script>
	</head>

	<body>

		<script type="text/javascript" src="socket.io/socket.io.js"></script>

		<script src = "pixi.js"></script>
		<script src = "socket.js"></script>

		<script src = "game.js"></script>
		<br>
		<br>
		<br>
		<br>
		<P>Por si queres donar para poder llevarlo a un host pago</P>
		<p>$100 ars(1 usd)</p>
		<script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-3eebf5f3-1f3e-44aa-9a75-a488f8bcbf23">
		</script>
		<p>$50 ars (0.5 usd)</p>
		<script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-1e5b80ab-c86e-492d-8c24-edb6c369a5fe">
		</script>
		<p>$10 ars(0.1 usd)</p>
		<script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
		data-preference-id="159086638-4bc131a8-8747-4824-8a88-1210d544779e">
		</script>
		
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Pixeliio -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2880137308849893"
     data-ad-slot="7658518739"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
	
	</body>
	<!-- Pixeliio -->
	<!--Asi puedo pagar un host pago, gracias por entender :)-->
</html>